/* Global */
:root {
    /* color */
    --color-background: #f6f6f6;
    --color-text_light: #ece7e1;
    --color-text_dark: #333333;
    --color-button: #1a1818;
    --color-accent: #546d54;
}

* {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}  

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-text_light);
    background-color: var(--color-button);
    text-transform: uppercase;
}

input {
    margin: 0;
    font-size: medium;
    height: 36px;
    text-align: left;
    padding: 0 7px;
    outline: none;
    border: none;
}

textarea {
    margin: 0;
    font-size: medium;
    text-align: left;
    height: 96px;
    padding: 7px;
    outline: none;
    border: none;
}


.app {
    color: var(--color-text_dark);
    width: 100%;
    height: 100%;
    max-width: 1000px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 6px 7px 24px 0px rgba(166,166,166,1);
    -moz-box-shadow: 6px 7px 24px 0px rgba(166,166,166,1);
    box-shadow: 6px 7px 24px 0px rgba(166,166,166,1);
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--color-accent);
    padding: 32px 0;
}

.banner__title {
    color: var(--color-text_light);
    z-index: 01;
}

.banner__buttons {
    display: flex;
    justify-content: center;
    margin: 32px 0 0 0 ;
}

.create-button {
    padding: 12px 24px;
    margin: 0 3px;
}

.create-button:hover {
    background-color: rgb(0 0 0 / 50%);
}

.document {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.document::-webkit-scrollbar {
    /* Safari and Chrome */
    background-color: var(--color-accent);
    width: 6px;
}
  
.document::-webkit-scrollbar-thumb {
    /* Safari and Chrome */
    background-color: var(--color-accent);

}

.footer {
    width: 100%;
    padding: 12px 0;
}

/* dialog */
.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 50%;
    transform: translateY(-50%);
    top: 50%;
    background-color: var(--color-accent);
    padding: 28px 14px;
    border-radius: 7px;
    -webkit-box-shadow: 6px 7px 24px 0px rgba(166,166,166,1);
    -moz-box-shadow: 6px 7px 24px 0px rgba(166,166,166,1);
    box-shadow: 6px 7px 24px 0px rgba(166,166,166,1);
}

.close {
    align-self: flex-end;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 3px;
    font-weight: bold;
}

.close:hover,
.dialog__submit:hover {
    transform: scale(1.1);
}

#dialog__body {
    margin: 0;
}

.dialog__submit {
    padding: 7px 14px;
    margin-top: 28px;
    border-radius: 7px;
    font-size: medium;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.title, .url, .text {
    font-size: medium;
    color: var(--color-text_light);
    text-align: left;
    margin: 10px 0 5px 0;
    text-transform: uppercase;
}


